body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}
h2{
    color: red;
}
label{
    font-weight: bold;
}
/* form {
  background-color: white;
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
} */
